/* ---------------------------------- GLOBAL -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 400;
}

a{
    position: relative;
    text-decoration: none;
    color: inherit;
}
a img{
    position:absolute;
    top: 4px;
    right: -1px;
}
h2,
h3,
header,
button,
input{
    font-family: "Raleway";
}

/* ---------------------------------- MAIN BODY ----------------------------------- */
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------ HEADER ------------------------------------- */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 70px;
    padding-block: 30px;
}
    nav{
        display: flex;
        align-items: center;
    }
    nav a{
        margin-right: 15px;
    }

    nav a:hover{
        color:  hsl(224, 93%, 58%);
        border-bottom: 2px solid  hsl(224, 93%, 58%);

    }

    
    #logo:hover {
        transform: scaleX(1.2);
    }

/* ----------------------------------- SECTION 1 -------------------------------------- */

.section1 {
    display: flex;
    flex-direction: row;
    padding-inline: 80px;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap-reverse;
}

/* -------LEFT SIDE ----------- */
    .section1_left{
        flex: 60%;
    }
    .section1_left h2{
        width: 70%;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .section1_left p {
        width: 70%;
        margin-bottom: 15px;
    }
    .section1_left input{
        outline: none;
        border: 2px solid hsl(0, 0%, 75%);
        height: 40px;
        border-radius: 5px;
        width: 270px;
        padding-left: 10px;
    }
    .section1_left input::placeholder{
        font-size: 16px;
        padding-left: 50px;
    }
    .section1_left button{
        margin-left: 20px;
        background-color:  hsl(224, 93%, 58%);
        color: white;
        font-weight: 700;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 200px;
        cursor: pointer;
    }

    .section1_left button:hover{
        background-color: hsl(224, 96%, 74%);
    }

/* -------- RIGHT SIDE ------------- */
    .section1_right{
        width: 40%;
    }
    .section1_right img{
        width: 100%;
    }

    

/* ----------------------------------- SECTION 2 -------------------------------------- */
.section2 {
    display: flex;
    flex-direction: row;
    padding: 50px 80px 80px 80px;
    align-items: center;
    background-color: hsl(240, 75%, 98%);
    background-size: contain;
    flex-wrap: wrap-reverse;
    height: fit-content;
}

/* -------LEFT SIDE ----------- */
    .section2_left{
        flex: 60%;
    }
    .section2_left h2{
        width: 70%;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .section2_left > p {
        width: 70%;
        margin-bottom: 15px;
    }

    .section2_left > a{
        border-bottom: 1px solid hsl(170, 45%, 43%);
        padding-right: 20px;
        color: hsl(170, 45%, 43%);
    }
    .section2_left > a:hover{
        color: hsl(170, 55%, 60%);
    }

    .testimonialBox{
        margin-top: 30px;
        width: 280px;
        height: 180px;
        background-color: white;
        box-shadow: 0px 0px 10px hsl(0, 0%, 75%);
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .testimonialBox img{
        width: 15px;
        height: 15px;
    }
    .testimonialBox p{
        width: 100%;
        font-size: 10px;
    }

    .personCard{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .personCard img{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .personDetails h3{
        font-weight: bold;
    }
    .personDetails h3, 
    .personDetails p{
        font-size: 10px;
    }


/* -------- RIGHT SIDE ------------- */
    .section2_right{
        flex: 40%;
        display: flex;
        align-items: center;
    }
    .section2_right img{
        width: 100%;
        height: 80%;
    }

/* ----------------------------------- SECTION 3 -------------------------------------- */
.section3 {
    display: flex;
    flex-direction: row;
    padding: 50px 80px 50px 80px;
    background-color: hsl(238, 22%, 44%);
    align-items: center;
    height: 300px;
}
    .section3_left{
        display: flex;
        flex-direction: column;
        color: white;
        flex: 50%;
        padding-inline: 80px;

    }
    .section3_left > h2{
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .section3_right{
        flex: 50%;
        padding-inline: 40px;
        display: flex;
        flex-direction: column;
    }
    .section3_right input{
        outline: none;
        border: 2px solid hsl(0, 0%, 75%);
        height: 40px;
        border-radius: 5px;
        width: 470px;
        padding-left: 10px;
    }
    .section3_right input::placeholder{
        font-size: 16px;
        padding-left: 20px;
    }
    .section3_right button{
        margin-top: 15px;
        background-color:  hsl(224, 93%, 58%);
        color: white;
        font-weight: 700;
        height: 40px;
        border: none;
        border-radius: 5px;
        width: 200px;
        cursor: pointer;
    }
    .section3_right button:hover{
        background-color: hsl(224, 96%, 74%);
    }

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 80px;
}

    footer img{
        width: 166px;
        height: 49px;
    }

    .links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        padding-right: 50px;
    }
    .footer_socials img{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .footer_socials img:hover{
        background-color: hsl(243, 87%, 12%);
        cursor: pointer;
    }
    .f-link{
        display: flex;
        flex-direction: column;
    }

    .f-link a, .f-link p{
        margin-bottom: 10px;
    }

    .f-link a:hover{
        color:blue;
    }


    @media screen and (max-width:1250px){
        .section3 {
            gap: 10%;
        }

        .section3_left, .section3_right {
            padding-inline: 0;
        }
    }
    @media screen and (max-width:1032px) {
        .section1, .section2{
            gap: 10%;
        }

        .section1_left, .section2_left, .section3_left, .section1_right, .section2_right, .section3_right {
            flex: 45%;
        }
        .section1_right img, .section2_right img{
            min-width: 300px;
        }
        .section1_left input, .section1_left button, .section1_left h2, .section1_left p, .section2_left > p, .section2_left h2, .section3_right input, .section3_right button{
            width: 100%;
            margin-bottom: 10px;
            margin-left: 0;
        }

        .section1_right > img, .section2_right > img {
            width: 100%;
        }
    }
    @media screen and (max-width:830px){
        header, footer, .section1, .section2, .section3{
            padding-inline: 10vw;
            gap: 5%;
        }
        .section2 {
            background-image: url(./images/bg-curve-mobile.svg);
        }
        .section3{
            flex-direction: column;
            height: fit-content;
        }
        .section3_right{
            width: 100%;
            margin-top: 10px;
            height: fit-content;
        }
        .section3_right input{
            margin-bottom: 0;
        }

        .links{
            flex-direction: column;
            padding: 0px;
        }
        .footer_socials{
            display: flex;
            flex-direction: row;
            align-self: center;
        }
    }

    @media screen and (max-width:700px){
        #logo{
            width: 99px;
            height: 29px;
        }
        nav a{
            margin-right: 10px;
        }
        .section1, .section2{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            text-align: center;
        }
        .section2_left, .section1_right, .section2_right {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .testimonialBox{
            text-align: left;
        }

        .section1_right img, .section2_right{
            width: 70%;
            margin-bottom: 50px;
        }
    }
